@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

$innerWidth: 75em;
$htmlBackground: #eee;
$bodyBackground: #fff;

@mixin shadowBelow {
  box-shadow: 0 10px 6px -6px #777;
}

html {
  width: 100%;
  background-color: $htmlBackground;

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;

    a {
      outline: none;
    }

    #content {
      width: 100%;
      max-width: $innerWidth;
      margin: 4rem auto 2rem;
      background-color: $bodyBackground;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;

      main {
        padding: 1rem;

        .full-name {
          display: inline-block;
          font-weight: 300;
          margin: 0;
          padding: .25rem 2rem;
          width: 100%;
          background-color: #444;
          color: #fff;
          border-radius: .15rem;
          box-shadow: 0 10px 6px -6px #777;
          box-sizing: border-box;
        }

        .job-title {
          display: inline-block;
          font-size: 1.2rem;
          font-weight: normal;
          margin: .25rem 0 0;
          padding: .25rem 2rem;
          background-color: #ddd;
          color: #333;
          border-radius: .15rem;
          box-shadow: 0 10px 6px -6px #777;
        }

        .intro {
          p {
            font-size: 1.1rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1;
            margin: .75rem 0;
          }
        }

        .section-title {
          font-weight: 300;
          padding: .25rem 0;
          border-bottom: 1px solid #333;

          &.professional-experience {
            padding: .40rem 0 .25rem;
          }
        }

        .item-prof-exp,
        .item-educ {
          @include shadowBelow();
          padding: 1rem;
          margin: 1rem 0 0;
          border-radius: .5rem;
          background-color: #ddd;

          .item-title {
            font-size: 1.3rem;
            font-weight: 600;
            color: #333;

            .freelance {
              font-size: .9rem;
              font-weight: 400;
              color: #666;
            }
          }

          .item-subtitle {
            font-size: 1rem;
            font-weight: 400;
            color: #555;
          }

          .item-dates {
            font-family: 'Open Sans', sans-serif;
            font-size: .9rem;
            color: #777;

            span {
              font-weight: bold;
            }
          }

          .item-desc {
            color: #444;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            line-height: 1;
            text-align: justify;
            margin: .5rem 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      aside {
        position: relative;
        text-align: right;
        background-color: #aaa;

        .aside-inner {
          padding: 0 1rem 1rem 1rem;
        }

        .profile-wrapper {
          background-image: url(../img/header-cv_v2.png);
          background-position: center;
          background-size: 150%;
          background-repeat: no-repeat;
          height: 150px;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .profile {
            display: inline-block;
            width: 50%;
            border-radius: 50%;
          }
        }

        .section-title {
          font-weight: 300;
          padding: .25rem 0;
          border-bottom: 1px solid #333;
        }

        .contact {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            font-size: 1rem;
            color: #333;

            span {
              display: inline-block;
              width: 1rem;
              margin-left: .5rem;
              text-align: center;
            }

            a {
              color: #333;
              text-decoration: none;

              &.underline {
                text-decoration: underline;
              }
            }
          }
        }

        .skill {
          @include shadowBelow();
          display: inline-block;
          background-color: #222;
          color: #fff;
          border-radius: .25rem;
          padding: .5rem;
          margin: 0 0 .45rem .25rem;

          .title {
            font-family: 'Roboto Mono', monospace;
            font-size: .9rem;
            font-weight: 400;
            text-align: center;
          }

          $levelColor: #a0a0a0;
          .level {
            font-size: .7rem;
            color: #bbb;
            text-align: center;
            color: #000;
            padding: .1rem .25rem;
            margin-top: .25rem;
            border-radius: 0 .25rem .25rem 0;
            display: none;

            &.adv {
              background: linear-gradient(90deg, $levelColor 97%, #fff 97%);
            }

            &.adv-full {
              background: $levelColor 100%;
            }

            &.prof {
              background: linear-gradient(90deg, $levelColor 70%, #fff 70%);
            }

            &.prof-2 {
              background: linear-gradient(90deg, $levelColor 65%, #fff 65%);
            }

            &.inter {
              background: linear-gradient(90deg, $levelColor 50%, #fff 50%);
            }

            &.begin {
              background: linear-gradient(90deg, $levelColor 25%, #fff 25%);
            }
          }
        }

        .author {
          display: inline-block;
          position: absolute;
          bottom: 1.5rem;
          right: 1rem;
          background-color: #222;
          color: #fff;
          border-radius: .25rem;
          padding: .5rem;
          font-size: .8rem;
          text-decoration: none;
        }
      }
    }
  }
}
